.home_container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 1.5rem;
  transform: scale(1.3);
}
.home_container > div > h5 {
  color: grey;
  letter-spacing: 0.5px;
}
